// Error handler
app.use(function(err, req, res, next) {
  res.status(err.status || 500);
  res.render('error', {
    message: err.message,   // pass message
    error: err              // pass error object
  });
});
